table {
    width: 100%;
    margin-top: 50px;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    background-color: #F5F5F5;
    color: #000;
    border-color: #000;
  }
  
  th {
    background-color: #7a6ad8;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-right:77pc;
    margin-top:50px;
    margin-bottom: 2px;
   
  }
  
  .search-container input[type="text"] {
    width: 250px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 16px;
    outline: none;
   
  }
  
  .search-container .search-icon {
    margin-left: -30px;
    color: #000;
    cursor: pointer;
  }
  
  .search-container .search-icon:hover {
    color: #000;
  }
  
  .action-button {
    background-color: transparent;
    color: #ccc;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .action-button:hover {
    color: #000;
  }
  
  .edit-icon:before {
    content: "\f040";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 20px;
  }
  
  .delete-icon:before {
    content: "\f1f8";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 20px;
  }



  /* drop down */
li a, .dropbtn1 {
  display: inline-block;
  color:red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

li.dropdown1 {
  display: inline-block;
}

.dropdown1-content {
  display: none;
  position: absolute;
  display: none;
  position: absolute;
  background-color: #7a6ad8;
  box-shadow: 0px 0px 0px 0px ;
  z-index: 1;
  border-radius: 20px;
}

.dropdown1-content a {
  padding: 5px ;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown1-content a:hover {
  background-color : #4f448d;
  border-radius: 20px;
}

.dropdown1:hover .dropdown1-content {
  display: block;
}
